$p-font-bold: 'Poppins Bold';
$ssr-font-regular: 'Source Sans Pro Regular';
$ssr-font-semi-bold: 'Source Sans Pro Semi-Bold';
$ssr-font-bold: 'Source Sans Pro Bold';

$color-black: #000000;
$color-white: #FFFFFF;
$color-black-gray: #333333;
$color-dusty-gray: #999999;
$color-concrete-white: #F2F2F2;
$color-white-pointer: #FDF2FF;
$color-blue: #3023AE;
$color-yellow: #FFC300;
$color-lavender: #C86DD7;
$color-mercury: #e6e6e6;




