* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  min-height: 100%;
  position: relative;
  overflow-x: hidden;
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.wrapper {
  position: relative;
  margin: 0 auto;

  @include respond-to(phone-only) {
    max-width: calc(100% - 30px);
  }

  @include respond-to(tablet-portrait) {
    max-width: calc(100% - 30px);
  }

  @include respond-to(desktop) {
    max-width: calc(100% - 270px);
  }
}

.text {

}
