.button {
  font-family: $ssr-font-bold , sans-serif;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: $color-white;
  border-radius: 24px;
  border: none;

  &__header {
    @include respond-to(tablet-landscape) {
      font-family: $ssr-font-bold , sans-serif;
      font-size: 16px;
      line-height: 24px;
      text-align: center;
      color: $color-white;
      padding: 12px 47px;
      background-color: transparent;
      border: 1px solid rgba(255, 255, 255, 0.295063);
      box-sizing: border-box;
      border-radius: 24px;
    }

    @media screen and (max-width: 900px) {
      display: none;
    }
  }

  &__banner {
    padding: 12px 58px;

    @include respond-to(tablet-landscape) {
      margin-top: 36px;
      margin-bottom: 112px;
    }

    @include respond-to(phone-only) {
      margin-top: 34px;
    }
  }

  &__temporibus {
    padding: 12px 52px;

    @include respond-to(phone-only) {
      margin-top: 34px;
    }
  }

  &__ullam {
    padding: 12px 52px;
    margin: 48px 0;

    @include respond-to(phone-only) {
      margin-top: 25px;
    }
  }

  &__omnis {
    padding: 12px 52px;
    margin: 48px 0;

    @include respond-to(tablet-landscape) {
      margin: 7px 0;
    }

    @include respond-to(phone-only) {
      margin: 0;
    }
  }

  &__contact-us {
    padding: 12px 67px;

    @include respond-to(tablet-landscape) {
      margin-left: 32px;
    }

    @include respond-to(phone-only) {
      width: 170px;
    }
  }

  &__clr-yellow {
    background-color: $color-yellow;
  }

  &__clr-lavender {
    background-color: $color-lavender;
  }
}